html.sr .load-hidden{
  visibility: hidden;
}

html.sr .load-hidden{
  visibility: hidden;
}

html.sr .slide-up {
  visibility: hidden;
  font-size: 50px;
  margin-top: 30vh;
}
.widget-list{
  display: flex;
  flex-direction: column;
}
html.sr .slide-up{
  visibility: hidden;
}
