.Models{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 93vh;

 
  
  article{
    height: 100vh;
    scroll-snap-align: start;
    
    
    .headline{
      visibility: hidden;

    }

  }
  
}

//html.sr .slide-up{
//  visibility: hidden;
//}